.App {
  text-align: center;
  
}

.App-header {
  background-color: #4c4e53;
  min-height: 20vh;

  flex-direction: column;

  justify-content: center;
 
  color: white;
}
  h1{
text-align: left;
  }
  


.navbarNav{
  

}

.inputsearch{
  text-align: right;

}

